@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

.page-title {
  font-family: "Ultra";
  color: #ef6c00;
  text-align: center;
  margin-top: 20vh;
}

.preload {
  margin-top: 50px;
  text-align: center;
}

.joke-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn-next-container {
  margin-top: 30px;
  text-align: center;
}

.joke {
  font-family: "Comic Neue";
  font-weight: 300;
  text-align: center;
}
